body {
    text-align: center;
    background-image: url("/src/imgs/sfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: black
}

h1 {
    text-align: center;
    color: rgb(82, 11, 174);
}

img {
    width: 20%;
    height: auto;
}